/**Wordpress Styling Starts here**/
/****Alignments*****/
.alignnone {
	margin: 0.4em 1.5em 1.5em 0;
}
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	@include center-block;
	margin-top:0.4em;
	margin-bottom:0.4em;
}
a img.alignright {
	float: right;
	margin: 0.4em 0 1.5em 1.5em;
}

a img.alignnone {
	margin: 0.4em 1.5em 1.5em 0;
}

a img.alignleft {
	float: left;
	margin: 0.4em 1.5em 1.5em 0;
}
a img.aligncenter {
	display: block;
	@include center-block;
	margin-top:0.4em;
	margin-bottom:0.4em;
}
/****Alignments*****/
/****Captions*****/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px;
	}
}

.wp-caption-text {
	text-align: center;
}
/****Captions*****/
/****Gallery*****/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin: 1%;
	padding: 1%;
	background:darken($background_color,5%);
	border: 1px solid darken($background_color,30%);

	.gallery-columns-2 & {
		max-width: 48%;
	}

	.gallery-columns-3 & {
		max-width: 31.33%;
	}

	.gallery-columns-4 & {
		max-width: 23%;
	}

	.gallery-columns-5 & {
		max-width: 18%;
	}

	.gallery-columns-6 & {
		max-width: 14.66%;
	}

	.gallery-columns-7 & {
		max-width: 12.28%;
	}

	.gallery-columns-8 & {
		max-width: 10.5%;
	}

	.gallery-columns-9 & {
		max-width: 9.11%;
	}
}

.gallery-caption {
	display: block;
	font-style:italic;
	@include font-size(0.8);
	margin-top: 5px;
}
/****Gallery*****/
/****Other Styles*****/
blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
}
blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
}
.screen-reader-text {
	position: absolute !important;
	left: -999em;
}

/****Other Styles*****/
